<div class="row">
  <div class="span10 offset1">
    <% if logged_in? %>
      <a href="<%= logout_path %>" class="btn"><%= t('auth.logout') %></a>
    <% else %>
      <div class="text-center">
        <a href="/auth/pocket" class="btn btn-primary">Login with pocket</a>
      </div>
    <% end %>
  </div>
</div>
